<div class="row">
  <div class="col-md-6 mx-auto">
<form class="container mt-5">
  <div class="form-group">
    <label for="exmpleInputEmail"> Email Address</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="loginUserData.email" >
  </div>
  <div class="form-group">
    <label for="exmpleInputPassword">Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="loginUserData.password" >
  </div>
  <button class="btn btn-primary" (click) = "loginAuth()" >submit</button>
</form>
</div>
</div>

